html{
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
/*-----navbar-----*/

#upnav {
width: 100%;
position: fixed;
top: 0;

/*body of navbar*/
background: linear-gradient(135deg, rgba(53, 14, 53, 0.555), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

/*----------------------------------------*/
font-family: Arial, sans-serif;
font-size: 15px;
}

.nav-link {
display: inline-block;
width: 100px;
height: 55px;
color: White;
text-align: center;  
line-height: 55px;    
text-decoration: none;
}

.nav-link:hover{
background-color: #2e1130;
}

/*------resume------*/

img {
    max-width: 12%;
    height: auto;
    align-items: center;
    border-radius: 50%;
    padding-top: 20px;         
    }


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(img/back.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    }      

.washi{  /*papel*/
    max-width: 900px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: url(img/m.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}

.p1{
    margin-top: 40px;
    margin-left: 45px;
    
}

header{
    background-image: url(img/h.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: auto;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    color: #f2f2f2;
    
}


table {
    text-align: center;
    width: 95%; 
    border-collapse: collapse; 
    margin-bottom: 20px;
  }
  
  th {
    background-image: url(img/table.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-weight: bold;
    padding: 8px; 
    border: 2px solid #080606;
  }
  
  td {
    padding: 8px;
    border: 2px solid #000000; 
  }

  tr:nth-child(odd){
    background-color: #d1e1e2;
}

  tr:nth-child(even){
    background-color: #a9e0e4;
}
  
hr{
  border: 3px solid black;
  margin-right: 40px;
}

/*----------------CALCULATOR*----------------*/

.topname{
  text-align: center;
  font-size: 36px;
  color: #cecece;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  margin-top: 300px;
  margin-left: 555px;
  margin-right: 350px;
  margin-bottom: 150px;
  text-align: center;
  font-family: 'impact', Times, serif;
  border-radius: 20px;
  width: 31%;
  height: 0 300px;
  background-image: url(img/backg.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  
}

.slot { 
width: 80%;
padding: 10px 10px;
margin: 14px 0;
display: inline-block;
border: 1px solid #cccccc6c;
border-radius: 4px;
box-sizing: border-box;
transition: 0.2s;
}

.slot:hover{
  box-shadow: 0 0 5px cyan,
  0 0 15px cyan, 0 0 20px rgb(94, 31, 107),
  0 0 25px rgb(1, 7, 7), 0 0 2px rgb(53, 0, 70);
}

.slot:focus {
margin-top: 24px;
border: 3px solid #555;
}

.btn {
background-image: url(img/btn.jpg);
background-repeat: no-repeat;
background-size: auto 100%;
color: #eee9e9;
position: relative;
border: none; 
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
margin: px 3px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
font-family: 'impact', Times, serif;
box-shadow: 0 0 5px rgb(76, 94, 255),
0 0 25px rgb(60, 127, 253);
}

.btn:hover {
  box-shadow: 0 0 5px cyan,
  0 0 15px rgb(103, 131, 131), 0 0 20px cyan,
  0 0 25px cyan, 0 0 2px cyan;
  transition: 0.3s;
}

.btn:after {
content: "";
background: #a982ac;
display: block;
position: absolute;
padding-top: 95%;
padding-left: 115%;
margin-left: -32px!important;
margin-top: -60%;
opacity: 0;
transition: all 0.3s;
transform: translateY(4px);;
}

.btn:active:after {
padding: 0;
margin: 0;
opacity: 1;
transition: 0s
}

#total{
background-color: rgb(122, 147, 170);
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
border-radius: 20px;
padding: 5px;
margin-left: 150px;
margin-right: 150px;
}

/*Calendar*/

.calendar{
  background-color: #a982ac;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 200px;

}