body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #111111;
}
h1 {
    color: aliceblue;
}

.calculator {
    background: #383838;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    padding: 20px;
}

.display {
    width: 94%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    background: #cccccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background: #0399a3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.2s;
}

.button:hover {
    background: #206e7c;
}

.button.clear {
    background: #FF4C4C;
}

.button.clear:hover {
    background: #cc0000;
}

.button.equal {
    background: #725a5a;
    grid-column: span 2;
}

.button.equal:hover {
    background: #8d746f;
}